In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\dell\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector
import time

# MySQL server configuration
mysql_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': 'Sanee@2003',  
    'database': 'event_management'  
}

# Connect to MySQL
conn = mysql.connector.connect(**mysql_config)
cursor = conn.cursor()

# MySQL query to select event details
query = """
SELECT `EventName`, Venue, PaymentStatus, SeatsBooked, TicketPrice, AttendeeName, Email, Phone, RegistrationDate, EventDate
FROM event_management_dataset
LIMIT 1
"""

# Execute the query and measure the execution time
query_times = []
for _ in range(30):
    start_time = time.time()
    cursor.execute(query)
    result = cursor.fetchall()
    if result:
        print(result[0])  # Print the first event record
    end_time = time.time()
    execution_time = end_time - start_time
    query_times.append(execution_time)

# Close the MySQL connection
cursor.close()
conn.close()

# Write the execution times to a result file
with open('results_query3_mysql_event250k.txt', 'w') as result_file:
    result_file.write(f"Query 3 execution times: {query_times}\n")

('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))
('Reduced high-level website', 'Darrellborough', 'Completed', 1, Decimal('98.68'), 'Elizabeth Romero', 'epena@example.com', '(640)375-8056x901', datetime.date(2024, 8, 9), datetime.date(2024, 10, 19))

In [4]:
import mysql.connector
import time

# MySQL server configuration
mysql_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': 'Sanee@2003',  
    'database': 'event_management'  
}

# Connect to MySQL
conn = mysql.connector.connect(**mysql_config)
cursor = conn.cursor()

# MySQL query to select event details
query = """
SELECT `EventName`, Venue, PaymentStatus, SeatsBooked, TicketPrice, AttendeeName, Email, Phone, RegistrationDate, EventDate
FROM event_management.event_management_dataset2
LIMIT 1
"""

# Execute the query and measure the execution time
query_times = []
for _ in range(30):
    start_time = time.time()
    cursor.execute(query)
    result = cursor.fetchall()
    if result:
        print(result[0])  # Print the first event record
    end_time = time.time()
    execution_time = end_time - start_time
    query_times.append(execution_time)

# Close the MySQL connection
cursor.close()
conn.close()

# Write the execution times to a result file
with open('results_query3_mysql_event500k.txt', 'w') as result_file:
    result_file.write(f"Query 3 execution times: {query_times}\n")

('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))
('Vision-oriented eco-centric system engine', 'New Cynthiaton', 'Cancelled', 6, Decimal('111.42'), 'Kimberly Waller', 'haasdennis@example.net', '001-809-974-1704x3966', datetime.date(2024, 4, 13), datetime.date(2024, 4, 18))

In [5]:
import mysql.connector
import time

# MySQL server configuration
mysql_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': 'Sanee@2003',  
    'database': 'event_management'  
}

# Connect to MySQL
conn = mysql.connector.connect(**mysql_config)
cursor = conn.cursor()

# MySQL query to select event details
query = """
SELECT `EventName`, Venue, PaymentStatus, SeatsBooked, TicketPrice, AttendeeName, Email, Phone, RegistrationDate, EventDate
FROM event_management.event_management_dataset3
LIMIT 1
"""

# Execute the query and measure the execution time
query_times = []
for _ in range(30):
    start_time = time.time()
    cursor.execute(query)
    result = cursor.fetchall()
    if result:
        print(result[0])  # Print the first event record
    end_time = time.time()
    execution_time = end_time - start_time
    query_times.append(execution_time)

# Close the MySQL connection
cursor.close()
conn.close()

# Write the execution times to a result file
with open('results_query3_mysql_event750k.txt', 'w') as result_file:
    result_file.write(f"Query 3 execution times: {query_times}\n")

('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))
('Innovative multimedia utilization', 'East Brookeport', 'Pending', 8, Decimal('81.24'), 'Mr. Ronald Stanley', 'tsmith@example.net', '(682)413-3109x634', datetime.date(2024, 1, 16), datetime.date(2024, 2, 11))

In [6]:
import mysql.connector
import time

# MySQL server configuration
mysql_config = {
    'host': '127.0.0.1',
    'user': 'root',
    'password': 'Sanee@2003',  
    'database': 'event_management'  
}

# Connect to MySQL
conn = mysql.connector.connect(**mysql_config)
cursor = conn.cursor()

# MySQL query to select event details
query = """
SELECT `EventName`, Venue, PaymentStatus, SeatsBooked, TicketPrice, AttendeeName, Email, Phone, RegistrationDate, EventDate
FROM event_management.event_management_dataset4
LIMIT 1
"""

# Execute the query and measure the execution time
query_times = []
for _ in range(30):
    start_time = time.time()
    cursor.execute(query)
    result = cursor.fetchall()
    if result:
        print(result[0])  # Print the first event record
    end_time = time.time()
    execution_time = end_time - start_time
    query_times.append(execution_time)

# Close the MySQL connection
cursor.close()
conn.close()

# Write the execution times to a result file
with open('results_query3_mysql_event1M.txt', 'w') as result_file:
    result_file.write(f"Query 3 execution times: {query_times}\n")

('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))
('Realigned next generation circuit', 'Davisstad', 'Pending', 5, Decimal('101.89'), 'Kenneth Delgado', 'ballardcourtney@example.net', '+1-691-813-3148x578', datetime.date(2024, 9, 6), datetime.date(2024, 10, 5))